html {
  font-size: 12px;
  font-family: 'BBCReithSans_W_Md', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: rgb(0, 0, 0);
  background-color: rgba(0,0,0,0);
  margin: 0;
}

img {
  border: 0;
}

@font-face {
  font-family: 'BBCReithSans_W_Md';
  src: local('BBCReithSans_W_Md'), url(./fonts/BBCReithSans_W_Md.woff2) format('woff2');
}

@font-face {
  font-family: 'BBCReithSans_W_Bd';
  src: local('BBCReithSans_W_Bd'), url(./fonts/BBCReithSans_W_Bd.woff2) format('woff2');
}

@font-face {
  font-family: 'BBCReithSans_W_ExBd';
  src: local('BBCReithSans_W_ExBd'), url(./fonts/BBCReithSans_W_ExBd.woff2) format('woff2');
}
